<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.Romit.SpringStudy.mapper.PudcMapper">
  <resultMap id="BaseResultMap" type="com.Romit.SpringStudy.entity.Pudc">
    <!--@mbg.generated-->
    <!--@Table pudc-->
    <id column="pudc_id" jdbcType="INTEGER" property="pudcId" />
    <result column="pudc_name" jdbcType="VARCHAR" property="pudcName" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    pudc_id, pudc_name
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from pudc
    where pudc_id = #{pudcId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    <!--@mbg.generated-->
    delete from pudc
    where pudc_id = #{pudcId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" keyColumn="pudc_id" keyProperty="pudcId" parameterType="com.Romit.SpringStudy.entity.Pudc" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into pudc (pudc_name)
    values (#{pudcName,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" keyColumn="pudc_id" keyProperty="pudcId" parameterType="com.Romit.SpringStudy.entity.Pudc" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into pudc
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="pudcName != null">
        pudc_name,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="pudcName != null">
        #{pudcName,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.Romit.SpringStudy.entity.Pudc">
    <!--@mbg.generated-->
    update pudc
    <set>
      <if test="pudcName != null">
        pudc_name = #{pudcName,jdbcType=VARCHAR},
      </if>
    </set>
    where pudc_id = #{pudcId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.Romit.SpringStudy.entity.Pudc">
    <!--@mbg.generated-->
    update pudc
    set pudc_name = #{pudcName,jdbcType=VARCHAR}
    where pudc_id = #{pudcId,jdbcType=INTEGER}
  </update>

<!--auto generated by MybatisCodeHelper on 2019-11-24-->
  <select id="findAllByPudcName" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from pudc
    where pudc_name=#{pudcName,jdbcType=VARCHAR}
  </select>

<!--auto generated by MybatisCodeHelper on 2019-11-25-->
  <insert id="insertList">
    INSERT INTO pudc(
    pudc_id,
    pudc_name
    )VALUES
    <foreach collection="list" item="element" index="index" separator=",">
      (
      #{element.pudcId,jdbcType=INTEGER},
      #{element.pudcName,jdbcType=VARCHAR}
      )
    </foreach>
  </insert>

<!--auto generated by MybatisCodeHelper on 2019-11-25-->
  <select id="countByPudcNameAndPudcId" resultType="java.lang.Integer">
    select count(1)
    from pudc
    where pudc_name=#{pudcName,jdbcType=VARCHAR} and pudc_id=#{pudcId,jdbcType=INTEGER}
  </select>


<!--auto generated by MybatisCodeHelper on 2019-11-25-->
  <select id="selectAllByPudcName" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from pudc
    where pudc_name=#{pudcName,jdbcType=VARCHAR}
  </select>

  <!--auto generated by MybatisCodeHelper on 2019-11-25-->
</mapper>