<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.Romit.SpringStudy.mapper.SysRolePrivilegeMapper">
  <resultMap id="BaseResultMap" type="com.Romit.SpringStudy.entity.SysRolePrivilege">
    <!--@mbg.generated-->
    <!--@Table sql_test.sys_role_privilege-->
    <result column="role_id" jdbcType="BIGINT" property="roleId" />
    <result column="privilege" jdbcType="BIGINT" property="privilege" />
  </resultMap>
</mapper>